TM_ENCRYPTION_KEY=
TM_DB_USER=teslamate
TM_DB_PASS=
TM_DB_NAME=teslamate

GRAFANA_USER=admin
GRAFANA_PW=admin

# Your domain name to use to connect to TeslaMate. e.g. my-domain.com, teslamate.cool-url.com
FQDN_TM=

# Change to your time zone, use TZ identifier format. Select from https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TM_TZ=America/Los_Angeles

# Not used if using the Cloudflare Tunnel setup
# LETSENCRYPT_EMAIL=

CLOUDFLARE_TUNNEL_TOKEN=
